<app-header></app-header>
<div class="container-resert">
    <div id="form" class="resert">
        <h2>Redefinir Senha</h2>

        <div class="fields">
            <input type="password" [(ngModel)]="newPassword" placeholder="Senha">
        </div>
        <div class="fields">
            <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar senha">
            <span *ngIf="newPassword !== confirmPassword" class="error-message">As senhas não coincidem.</span>
        </div>

        <div>
            <button class="btn-resert" (click)="savePassword()">Salvar</button>
        </div>
    </div>
</div>