* {
    background-color: #fafafa;
}


#form{
    height: 70%;
}
.container-resert {
    width: 100vw;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;

    .resert {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: rgb(4, 148, 102);
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 700;
        }

        .fields {
            color: rgb(118, 118, 118);

            input {
                display: flex;
                flex-direction: column;
                text-indent: 20px;
                border: #ccc 1px solid;
                border-radius: 5px;
                padding: 5px 0px;
                width: 250px;
                height: 30px;
                margin-top: 10px;
            }

            .error-message {
                color: red;
                font-size: 14px;
            }
        }

        .btn-resert {
            width: 250px;
            height: 30px;
            margin-top: 15px;
            border: rgb(4, 148, 102) 1px solid;
            border-radius: 5px;
            background: rgb(4, 148, 102);
            color: #ccc;
            font-weight: 600;
        }
    }
}

@media only screen and (orientation: landscape) and (min-width: 800px) {
    .container-resert {

        .resert {
            .fields {
                input {
                    width: 350px;
                    height: 40px;
                }
            }

            .btn-resert {
                width: 350px;
                height: 40px;
            }
        }
    }
}